<div id="wrapper">
  <div class="masthead">
    <div class="container">
      <div id="masthead-carousel" class="carousel masthead-carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-md-6 masthead-text animated fadeInDownBig">
                <h1 class="masthead-title">Motonauta (Jet Sky)</h1>
                <p class="masthead-">
                  Curso destinado a maiores de 18 anos, que querem conduzir moto aquática (Jet Ski)
                  em águas abrigadas (baias, rios, lagos, enseadas, etc...)
                  O limite de navegação é determinado pelas Capitanias, Agencias e Delegacias.
                </p>
                <br>
                <div class="masthead-actions">
                  <%= link_to new_student_path, class: 'btn btn-primary btn-jumbo' do %>
                    Cadastre-se
                  <% end %>
                </div> <!-- /.masthead-actions -->
              </div> <!-- /.masthead-text -->

              <div class="col-md-6 masthead-img animated fadeInUpBig">
                <%= image_tag('motonautax.png', class: 'img-responsive') %>
              </div> <!-- /.masthead-img -->
            </div> <!-- /.row -->
          </div> <!-- /.item -->

          <div class="item">
            <div class="row">
              <div class="col-md-6 masthead-text animated fadeInUpBig">
                <h1 class="masthead-title">Arrais Amador (Lancha e Barco)</h1>
                <p class="masthead-">
                  O Curso de Arrais Amador é composto por aulas práticas e teóricas
                  que cumpre todas as exigências da Marinha e lhe capacitará para a realização
                  da prova para Arrais Amador.
                </p>
                <br>
                <div class="masthead-actions">
                  <%= link_to new_student_path, class: 'btn btn-primary btn-jumbo' do %>
                    Cadastre-se
                  <% end %>
                </div> <!-- /.masthead-actions -->
              </div> <!-- /.masthead-text -->
              <div class="col-md-6 masthead-img animated pulse">
                <%= image_tag('lancha.png', class: 'img-responsive') %>
              </div> <!-- /.masthead-img -->
            </div> <!-- /.row -->
          </div> <!-- /.item -->
        </div>  <!-- /.carousel-inner -->
        <!-- Carousel nav -->

        <div class="carousel-controls">
          <a class="carousel-control left" href="#masthead-carousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#masthead-carousel" data-slide="next">&rsaquo;</a>
        </div>
      </div> <!-- /.masthead-carousel -->
    </div>
  </div> <!-- /.masthead -->

  <div class="content">
    <div class="container">
      <h4 class="content-title">
        <span>Porque escolher a Voo Nautica?</span>
      </h4>
      <br>
      <div class="row">
        <div class="mini-feature">
          <i class="fa fa-clock-o mini-feature-icon text-secondary"></i>
          <div class="mini-feature-text">
            <h5 class="mini-feature-title">Agendamento do Exame</h5>
            <p>
              Fazemos todo processo de agendamento do EXAME, ainda, criamos grupo no WhatsApp 10 dias antes do EXAME para motivação e dúvidas.
            </p>
          </div>
        </div> <!-- /.mini-feature -->

        <div class="mini-feature">
          <i class="fa fa-list-ol mini-feature-icon text-secondary"></i>
          <div class="mini-feature-text">
            <h5 class="mini-feature-title">Revisões</h5>
            <p>
              Única Escola de Brasília a oferecer uma aula teórica de revisão às vésperas do EXAME.
            </p>
          </div>
        </div> <!-- /.mini-feature -->

        <div class="mini-feature">
          <i class="fa fa-credit-card mini-feature-icon text-secondary"></i>
          <div class="mini-feature-text">
            <h5 class="mini-feature-title">Pagamento Facilitado</h5>
            <p>
              Pagamento parcelado no Cartão de Crédito em até 3 vezes, sem juros.
            </p>
          </div>
        </div> <!-- /.mini-feature -->
      </div> <!-- /.row -->

      <div class="row">
        <div class="mini-feature">
          <i class="fa fa-book mini-feature-icon text-secondary"></i>
          <div class="mini-feature-text">
            <h5 class="mini-feature-title">Material Didatico</h5>
            <p>
              Apostila em PDF de fácil aprendizado, colorida e rica em imagens, elaborado por profissionais qualificados.
            </p>
          </div>
        </div> <!-- /.mini-feature -->
        <div class="mini-feature">
          <i class="fa fa-address-book-o mini-feature-icon text-secondary"></i>
          <div class="mini-feature-text">
            <h5 class="mini-feature-title">Instrutores</h5>
            <p>
              Os Instrutores são Militares da Reserva da Marinha, qualificados e com vasta experiência de navegação no Lago Paranoá.
            </p>
          </div>
        </div> <!-- /.mini-feature -->
        <div class="mini-feature">
          <i class="fa fa-ship mini-feature-icon text-secondary"></i>
          <div class="mini-feature-text">
            <h5 class="mini-feature-title">Embarcações</h5>
            <p>
              As embarcações são semi-novas, sendo a LANCHA 17”, ano 2012, 8 lugares, Motor Mercury, 4 tempos, com muita estabilidade e um JET-SKI, ano 2014, 3 lugares, motor Yamaha, 110HP, 4 tempos, com Ré.
            </p>
          </div>
        </div> <!-- /.mini-feature -->
      </div> <!-- /.row -->

      <div class="row-divider"></div> <!-- /.row-divider -->

      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <h4 class="content-title">
            <span>Serviços</span>
          </h4>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <ul class="icons-list">
                <li>
                  <i class="icon-li fa fa-check text-primary"></i>
                  Curso para Arrais Amador e Motonauta.
                </li>
                <li>
                  <i class="icon-li fa fa-check text-primary"></i>
                  Processo de renovação de CHA com inclusão de Motonauta.
                </li>
                <li>
                  <i class="icon-li fa fa-check text-primary"></i>
                  Solicitação de 2 via de Carteira de Habilitação de Amador (CHA).
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="icons-list">
                <li>
                  <i class="icon-li fa fa-check text-primary"></i>
                  Inscrição de transferência de propriedade de embarcação.
                </li>
                <li>
                  <i class="icon-li fa fa-check text-primary"></i>
                  Avaliação, compra e venda de embarcação.
                </li>
                <li>
                  <i class="icon-li fa fa-check text-primary"></i>
                  Passeios de lanchas e barcos no lago paranóa.
                </li>
              </ul>
            </div>
          </div>
          <br>
          <%= link_to new_student_path, class: 'btn btn-default' do %>
            Cadastre-se agora!
          <% end %>
          <br><br><br>
        </div> <!-- /.col -->
        <div class="col-sm-6 col-sm-pull-6 text-center">
          <br><br>
          <%= image_tag('lancha2.png', class: 'img-responsive') %>
        </div> <!-- /.col -->
      </div> <!-- /.row -->

      <!-- <div class="row-divider"></div>

      <div class="row">
        <div class="col-sm-6">
          <h4 class="content-title">
            <span>Depoimentos</span>
            <a class="btn btn-default btn-sm carousel-prev" href="#clients-carousel" data-slide="prev">&lsaquo;</a>
            <a class="btn btn-default btn-sm carousel-next" href="#clients-carousel" data-slide="next">&rsaquo;</a>
          </h4>
          <div id="clients-carousel" class="carousel slide" data-interval="0">
            <div class="carousel-inner">
              <div class="item active">
                <div class="testimonial">
                  <p class="testimonial-text">
                    "Gostaria de registrar e agradecer pelo Curso de Arrais e Moto Náutica, ministrado com profissionalismo.
                    Fui para "tirar" carteira de Arrais e saí conhecedor de práticas de pilotagem seguras e primeiros socorros.
                    Desta forma posso proporcionar, principalmente à minha família e amigos, uma navegação segura."
                  </p>
                  <div class="testimonials-arrow"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-image">
                      <%= image_tag('avatar-1-lg.jpg', class: 'img-responsive') %>
                    </div>
                    <div class="testimonial-author-info">
                      <h5><a href="#">Humberto Elias</a></h5> Voo de Taxi
                    </div>
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="testimonial">
                  <p class="testimonial-text">
                    "Gostaria de registrar e agradecer pelo Curso de Arrais e Moto Náutica, ministrado com profissionalismo.
                    Fui para "tirar" carteira de Arrais e saí conhecedor de práticas de pilotagem seguras e primeiros socorros.
                    Desta forma posso proporcionar, principalmente à minha família e amigos, uma navegação segura."
                  </p>
                  <div class="testimonials-arrow"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-image">
                      <%= image_tag('avatar-2-lg.jpg', class: 'img-responsive') %>
                    </div>
                    <div class="testimonial-author-info">
                      <h5><a href="#">Ana Luiza</a></h5> Voo de Taxi
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row-divider"></div> <!-- /.row-divider -->

      <div class="carousel-container">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="content-title">
              <span>Contato</span>
            </h4>
            <div align="center">
              <%= image_tag('contato.jpg', size: '900', class: 'img-responsive') %>
            </div>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.carousel-container -->
    </div> <!-- /.container -->
  </div> <!-- /.content -->
</div> <!-- /#wrapper -->
