<div class="container">
  <div class="navbar-header">
    <%= link_to root_path, { class: 'navbar-brand navbar-brand-img', style: 'padding-top: 18px'} do %>
      <i class="fa fa-anchor" aria-hidden="true"></i> Voo Nautica
    <% end %>

    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars"></i>
    </button>
  </div> <!-- /.navbar-header -->

  <nav class="collapse navbar-collapse" role="navigation">
    <ul class="nav navbar-nav navbar-right mainnav-menu">
      <li>
        <%= link_to 'Inicio', root_path %>
      </li>
      <li>
        <%= link_to 'Cadastre-se', new_student_path %>
      </li>
      <% if admin_signed_in? %>
      <li>
        <%= link_to 'Alunos', students_path %>
      </li>
      <li>
        <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
      </li>
      <% else %>
      <li>
        <%= link_to 'Entrar', admin_session_path %>
      </li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-social navbar-left">
      <li>
        <a href="https://www.facebook.com/vooescolanautica" class="ui-tooltip" title="Facebook" data-placement="bottom" target="_blank">
          <i class="fa fa-facebook"></i>
          <span class="navbar-social-label">Facebook</span>
        </a>
      </li>
    </ul>
  </nav>
</div> <!-- /.container -->
