<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="geral">
    <div class="header">
      <%= render 'layouts/header' %>
    </div>
    <div class="content" >
      <%= yield %>
    </div>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  <%= render 'layouts/toast' %>
  </div>
</body>
</html>
