<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="geral">
    <header class="navbar navbar-inverse" role="banner">
      <%= render 'layouts/header' %>
    </header>
    <div class="core">
      <%= yield %>
    </div>
    <footer class="copyright">
      <%= render 'layouts/footer' %>
    </footer>
  </div>
  <%= render 'layouts/toast' %>
</body>
</html>
